* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: url(images/tasks.jpg) no-repeat center center/cover;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  font-family: Arial, Helvetica, sans-serif;
  flex-direction: column;
}

li {
  list-style: none;
}
#container {
  display: flex;
  justify-content: center;
  text-align: center;
  padding-top: 50px;
}

#add-tasks-container {
  display: flex;
  background: #fff;
  width: 350px;
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 0 5px;
  margin-bottom: 20px;
}
#entered-task {
  flex: 5;
  margin-left: 10px;
  width: 230px;
  border-radius: 7px;
  padding: 5px;
  font-size: 1rem;
  margin-right: 10px;
}
#add-task {
  flex: 1;
  width: 20px;
  border-radius: 7px;
  padding: 5px;
  background: #ffff;
  color: green;
  border: 2px solid green;
  font-size: 1rem;
  transition: 0.3s;
  display: block;
}
#add-task:hover {
  color: #fff;
  background-color: green;
  cursor: pointer;
}

.tasks-container {
  display: flex;
  width: 90vw;
  justify-content: space-between;
  margin: 20px auto 0;
  padding: 0 30px 0 20px;
}

/*  styling element created via js*/



.task-title {
  text-align: center;
  margin: 0 auto;
  margin-bottom: 10px;
  background: #000;
  color: azure;
  padding: 15px 20px;
  border-radius: 10px;
}

#pending-tasks, #completed-tasks {
  overflow-y: scroll;
  max-height: 55vh;
  padding: 0 15px;
  width: 100%;
}


.task-box {
  height: 80px;
  width: auto;
  min-width: 300px;
  background-color: #f3f3f3;
  border-radius: 15px;
  box-shadow: 1px 1px 5px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 15px;
  margin: 15px auto;
  padding: 0 20px;
}

.task-text {
  width: 150px;
  max-height: 60px;
  border-radius: 10px;
  background-color: #fff;
  border: 2px solid gray;
  padding: 5px;
  overflow: hidden;
}
.task-text p {
  outline: none;
  text-overflow: ellipsis;
  text-wrap: nowrap;
  font-size: 15px;
}
.task-text p:hover {
  text-wrap: wrap;
}

.task-box button {
  flex: 1;
  width: 50px;
  height: 40px;
  border-radius: 20px;
  border: none;
  font-size: 20px;
  cursor: pointer;
  background-color: #fff;
}

.check-btn {
  align-self: baseline;
  color: orange;
  border: 1px solid orange;
  margin-right: 10px;
}
.check-btn:hover {
  color: #f3f3f3;
  background-color: orange;
}
.delete-btn {
  align-self: baseline;
  color: red;
  border: 1px solid red;
}
.delete-btn:hover {
  color: #f3f3f3;
  background-color: red;
}


@media (max-width : 870px) {

  body {
    background: url(images/tasks.jpg) no-repeat center center/auto;
    height: 100%;
    overflow-y: scroll;
  }
  .hero {
    flex-direction: column;
    gap: 50px;
    width: 85vw;
    margin:  20 auto;
    padding: 0 0 50px 0 ;
  }
  .task-text {
    width: 120px;
    
  }

}
